langgraph
langchain
pydantic
chromadb
tavily-python
python-dotenv
openai
pandas
tabulate
fastapi
uvicorn
langchain-openai
langchain-core
streamlit
modelscope[nlp]>=1.34.0
transformers
torch
accelerate
